<a href="https://colab.research.google.com/github/mjso9805/KTalive/blob/main/KT_alive_%ED%8C%8C%EC%9D%B4%EC%8D%AC_1%EC%9D%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

미니 실습1

In [ ]:
n = list(map(int, input().split()))

n.sort(reverse=True)

print(n[0])

1 7 2 4
7

미니 실습2

In [ ]:
company = str(input())
use = int(input())

def pay(company, use):
  if(company=='A'):
    print(use*100)
  elif (company=='B'):
    if (use<=50):
      print(use*150)
    else:
      print(use*75)

pay(company, use)

B
100
7500

미니실습 3

In [ ]:
print('a부터 b까지 정수의 합을 구합니다.')
a = int(input('정수 a를 입력하세요.: '))
b = int(input('정수 b를 입력하세요.: '))

if a > b:
  a, b = b, a
  
sum = 0
for i in range(a, b+1):
  if i < b:
    print(f'{i} + ', end='')
  sum +=i

print(f'{b} = ', end='')
print(sum)

a부터 b까지 정수의 합을 구합니다.
정수 a를 입력하세요.: 3
정수 b를 입력하세요.: 7
3 + 4 + 5 + 6 + 7 = 25

미니 실습4

In [ ]:
area = int(input('직사각형의 넓이를 입력하세요.: '))
for i in range(1, area + 1):
  if i * (area // i) > area:
    break
  if area % i: 
    continue
  print(f'{i} x {area // i}')

직사각형의 넓이를 입력하세요.: 32
1 x 32
2 x 16
4 x 8
8 x 4
16 x 2
32 x 1

실습1

In [ ]:
kWh = int(input())

def electricPay(kWh):
  sum = 0

  if kWh < 100:
    sum += (410 + 60.7*kWh)
  elif kWh <= 200 & kWh >= 100:
    sum += (910 + 60.7*100 + 125.9*(kWh-100))
  else:
    sum += (1600 + 60.7*100 + 125.9*100 + 187.9*(kWh-200))

  print(int(sum*1.137))

electricPay(kWh)

250
33717

실습2

In [ ]:
print("+와 -를 번갈아 출력합니다.")
n = int(input('몇 개를 출력할까요?'))

for i in range(1,n+1):
  if(i%2==1):
    print("+",end="")
  else:
    print("-",end="")

+와 -를 번갈아 출력합니다.
몇 개를 출력할까요?12
+-+-+-+-+-+-

실습3

In [ ]:
for i in range(1,13):
  if(i!=8):
    print(i, end=" ")

1 2 3 4 5 6 7 9 10 11 12

실습 4

In [ ]:
n = int(input())
cnt = 0

for i in range(n):
  for j in range(1,6):
    if (i**j)==n:
      cnt +=1
      print(f"{i}, {j}")
    else:
      continue

if cnt==0:
  print("결과 없음")

8
2, 3

### Q0

### 두 정수의 최대공약수를 구하라. 최대공약수는 두 정수를 나머지가 0이 되게 나누는 공통된 약수 중 최대값을 가진 수이다. 

### 예
- 12, 16의 최대공약수 4
- 2, 4의 최대공약수 2

### tips
- if 문에 조건이 두 개인 경우는 and 또는 or 논리연산자 사용

### 제한사항 
- 두 정수는 서로 다른 수이다.

In [ ]:
import math
# 내장 함수
a = int(input())
b = int(input())

print(math.gcd(a,b))

12
16
4

In [ ]:
a = int(input())
b = int(input())

# 유클리드 호재법
while(b):
  a,b = b,a%b

print(a)

12
16
4

### Q1

### 두 정수의 최소공배수를 구하라. 최소공배수는 두 정수의 배수인 수 중 최솟값을 가진 값을 수이다.

### 예
- 12, 16의 최소공배수 48
- 2, 4의 최소공배수 4

### tips
- if 문에 조건이 두 개인 경우는 and 또는 or 논리연산자 사용


### 제한사항 
- 두 정수는 서로 다른 수이다.

In [ ]:
import math

a = int(input())
b = int(input())

print(a*b//math.gcd(a,b))

12
16
48

### Q2 (https://www.acmicpc.net/problem/1110)

### 0보다 크거나 같고, 99보다 작거나 같은 정수가 주어질 때 다음과 같은 연산을 할 수 있다. 먼저 주어진 수가 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다. 그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다. 다음 예를 보자.
### 26부터 시작한다. 2+6 = 8이다. 새로운 수는 68이다. 6+8 = 14이다. 새로운 수는 84이다. 8+4 = 12이다. 새로운 수는 42이다. 4+2 = 6이다. 새로운 수는 26이다.
### 위의 예는 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4이다.
### N이 주어졌을 때, N의 사이클의 길이를 구하는 프로그램을 작성하시오.

### 입력
- 첫째 줄에 N이 주어진다. N은 0보다 크거나 같고, 99보다 작거나 같은 정수이다.
### 출력
- 첫째 줄에 N의 사이클 길이를 출력한다.

### 입출력 예
|입력 |출력
|----|----
|26|4
|55|3
|1|60
|0|1
|71|12

In [ ]:
N = int(input())
num = N
count = 0

while(1):
  a = num // 10
  b = num % 10
  c = (a+b) % 10
  num = b*10 + c

  count +=1

  if num==N:
    break

print(count)

55
3

### Q3 (https://programmers.co.kr/learn/courses/30/lessons/77884)

### 두 정수 left와 right가 매개변수로 주어집니다. left부터 right까지의 모든 수들 중에서, 약수의 개수가 짝수인 수는 더하고, 약수의 개수가 홀수인 수는 뺀 수를 return 하도록 solution 함수를 완성해주세요.

### 제한사항
- 1 ≤ left ≤ right ≤ 1,000

### 입출력 예
|left |right |result
|-----|------|------
|13 |17 |43
|24 |27 |52

### 입출력 예 left 13, right 17

- 다음 표는 13부터 17까지의 수들의 약수를 모두 나타낸 것입니다.
|수	|약수	|약수의 개수
|---|-----|-------
|13	|1, 13	|2
|14	|1, 2, 7, 14	|4
|15	|1, 3, 5, 15	|4
|16	|1, 2, 4, 8, 16	|5
|17	|1, 17	|2
- 따라서, 13 + 14 + 15 - 16 + 17 = 43을 return 해야 합니다.

In [ ]:
left = int(input())
right = int(input())
sum = 0

for i in range(left,right+1):
  cnt = 0
  for j in range(1,i+1):
    if i%j==0:
      cnt+=1

  if cnt%2==0:
    sum+=i
  else:
    sum-=i

print(sum)

24
27
52